h1 {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  position: relative;



}

html {
  min-height: 100%;
  margin: 0;
  background: -webkit-linear-gradient(#006BA1, #003A57) fixed; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#006BA1, #003A57) fixed; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#006BA1, #003A57) fixed; /* For Firefox 3.6 to 15 */
  background: linear-gradient(#006BA1, #003A57) fixed; /* Standard syntax */
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;

}

body {
  height: 100%;
  margin: 0;

}

p {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  color: #171717;
  text-align: center;
}

#subtitle {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #171717;
  text-align: center;
  margin-bottom: 40px;

}





form {
  border: none;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}



input {
  border: 0px;
  border-style: none;
  text-align: center;

}

input:focus {
  outline: none !important;
  border: 0px;
}

#dayIn, #monthIn {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-size: 25px;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  max-width: 55px;
  border: none;

}

#yearIn {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-size: 25px;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  max-width: 75px
}

#submitButton {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-size: 20px;
  background: #e1ff00;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%);



}

#submitButton:hover, #submitButton:focus {
  background: #bbd400;
  text-decoration: none;
  border: none;
  outline: none !important;
}

#main {
  margin-left: 10px;
  /*margin-right: 10px;*/
}

.grid {
  /*max-width: 1200px;*/

}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  width: 17px;
  height: 17px;
  float: left;
  border-radius: 50%;

}

.lived {
  background: #171717;
}

.toLive {
  background: #e1ff00;
}



#credits {
  font-size: 10px;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%);


}
